<div class="post-wrapper">
  <div class="auth-side-nav">
    <%= link_to "TOP", root_path, class: "auth-top-link" %>
  </div>

  <div class="tweet-container">
    <h2 class="post-title">POST YOUR VIDEOS</h2>

    <%= form_for @tweet, html: { class: "post-form" } do |f| %>
      <div class="form-group">
        <%= f.label :place, "練習場所" %>
        <%= f.select :place,
          [["屋外", "屋外"], ["屋内", "屋内"]],
          { include_blank: "選択してください" },
          class: "form-select" %>
      </div>

      <div class="form-group">
        <p class="form-label">Tag</p>
        <div class="tag-grid">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
            <label class="post-tag-item">
              <%= tag.check_box %>
              <span><%= tag.text %></span>
            </label>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :video, "動画" %>
        <%= f.file_field :video, class: "form-file" %>
      </div>

      <div class="form-group">
        <%= f.label :youtube_url, "YouTubeのリンク" %>
        <%= f.text_field :youtube_url, class: "form-input" %>
      </div>

      <%= f.submit "POST", class: "form-submit" %>
    <% end %>
  </div>
</div>
